/*
!.gitignore
!README.md
!.htaccess
!package.json
!gulpfile.js
!wp-content/
wp-content/*
!wp-content/plugins/
!wp-content/themes/
wp-content/themes/arrasfilmfestival2014/publics
wp-content/themes/arrasfilmfestival2014/publics/*
!wp-content/languages/